
input{
  background-color: rgb(200, 198, 195);
}
.campBuit{
  border-color: red;
}
.campPle{
  border-color: green;
}

#errorCorreo, #errorPassword{
  color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

